<!-- wp:ourblocktheme/header /-->

<!-- wp:ourblocktheme/banner -->
<!-- wp:ourblocktheme/genericheading {"text":"Welcome Home"} -->
<h1 class="wp-block-ourblocktheme-genericheading headline headline--large">Welcome Home</h1>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"We all \u003cstrong\u003e\u003cem\u003e@LoveOrphanage\u003c/em\u003e\u003c/strong\u003e Loves You","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">We all <strong><em>@LoveOrphanage</em></strong> Loves You</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"You can become a sponsor and donate love to children","size":"small"} -->
<h3 class="wp-block-ourblocktheme-genericheading headline headline--small">You can become a sponsor and donate love to children</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More","size":"medium","linkObject":{"url":"http://online-university.local/","id":33,"title":"Home","type":"page","kind":"post-type"},"colorName":"dark-orange"} -->
<a href="http://online-university.local/" class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--dark-orange">Learn More</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/banner -->

<!-- wp:ourblocktheme/eventsandblogs /-->

<!-- wp:ourblocktheme/slideshow -->
<!-- wp:ourblocktheme/slide {"themeimage":"slide-1.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"It's about you and nature","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">We are all one big family</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"One love keep us going","size":"small"} -->
<h3 class="wp-block-ourblocktheme-genericheading headline headline--small">One love keep us going</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Know More","size":"small","colorName":"dark-orange"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--small btn--dark-orange">Know More</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide  {"themeimage":"slide-2.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Donations day","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">Donations day</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"A very big thank you to all our sponsors, \u003cbr\u003eYour love keeps us going","size":"small"} -->
<h3 class="wp-block-ourblocktheme-genericheading headline headline--small">A very big thank you to all our sponsors, <br>Your love keeps us going</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Join Us","size":"medium"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--blue">Join Us</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide  {"themeimage":"slide-3.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"We Beleive","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">We Beleive</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"Our future is bright, No Limitations","size":"small"} -->
<h3 class="wp-block-ourblocktheme-genericheading headline headline--small">Our future is bright, No Limitations</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"View More","size":"medium","colorName":"dark-orange"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--dark-orange">View More</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->
<!-- /wp:ourblocktheme/slideshow -->

<!-- wp:ourblocktheme/footer /-->