<!-- wp:ourblocktheme/header /-->

<!-- wp:ourblocktheme/banner -->
<!-- wp:ourblocktheme/genericheading {"text":"Welcome"} -->
<h1 class="wp-block-ourblocktheme-genericheading headline headline--large">Welcome</h1>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"\u003cstrong\u003eMeet a self Made Developer\u003c/strong\u003e","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium"><strong>Meet a self Made Developer</strong></h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More","size":"medium"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--blue">Learn More</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/banner -->

<!-- wp:ourblocktheme/eventsandblogs /-->

<!-- wp:ourblocktheme/slideshow -->
<!-- wp:ourblocktheme/slide {"themeimage":"slide-1.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"It's about you and nature","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">It's about you and nature</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More","size":"medium"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--blue">Learn More</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide  {"themeimage":"slide-2.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Loving Nature is what we do","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">Loving Nature is what we do</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"About Us","size":"medium","colorName":"orange"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--orange">About Us</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide  {"themeimage":"slide-3.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Winter Feelings","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">Winter Feelings</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"View More","size":"medium","colorName":"dark-orange"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--dark-orange">View More</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->
<!-- /wp:ourblocktheme/slideshow -->

<!-- wp:ourblocktheme/footer /-->